<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/process" method="post">
        <label for="name">Your Name:</label>
        <input type="text" name = 'name'>
        <label for="dojo">Dojo Location:</label>
        <input type="text" name = 'dojo'>
        <label for="language">Favorite Langauge:</label>
        <input type="text" name = 'language'>
        <label for="comments">Comments (Optional)</label>
        <input type="text" name = 'comments'>
        <button>Submit</button>
    </form>
</body>
</html>